{% extends "::base.html.twig" %}

{% block title %}AppBundle:UserPost:index{% endblock %}

{% block body %}
<h1>Welcome to the UserPost:index page</h1>

    {% for item in posts %}
        {{ dump(item) }}
    {% endfor %}
{% endblock %}
